body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	text-align: center;
	line-height: 1.4em;
}

.container {
	margin: 0 auto;
  margin-top: 40px;
  height: auto;
  max-width: 600px;
  padding: 0;
}

h3 {
  margin-top: 5px;
}

.footer {
	margin-top: 40px;
}

a {
	color: #2574A9;
}

a#return {
  margin-top: 15px;
  color: #2574A9;
  text-decoration: none;
  border: solid 1px black;
  border-radius: 5px;
  padding: 14px 25px;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 25px;
  max-width: 600px;
}

label {
  margin-right: 20px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 250px;
  text-align: center;
  height: 20px;
}

.button {
  background-color: #fff;
  border: solid 1px #000;
  color: #000;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 4px 2px;
  cursor: pointer;
}